@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-primary">Welcome to MyBlog</h1>
    <p class="lead">Discover the world of <a href="https://docs.microsoft.com/aspnet/core" class="text-info">building Web apps with ASP.NET Core</a>.</p>


</div>
